@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model System.Data.DataTable

@{
    ViewData["Title"] = "Catalog";
}

<h1>@ViewData["Title"]</h1>
  @if( @Accessor.HttpContext.Session.GetString("RoleId") =="1")
   {
      <a class="btn btn-secondary" style="margin-bottom:10px" asp-action="AddOrEdit">Create New</a>             
   }
    <section class="book-grid"> 
    @for(int i = 0; i < Model.Rows.Count; i++){
      <div class="book-preview"> 

        <div class="thumbnail-row">
          <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwizo8Gtmpn6AhUFu9UKHep-AdMYABAAGgJ3cw&ohost=www.google.com&cid=CAESa-D2QpDts-hPtJvDG5WpKXtzyVBLkFxSsVFuxX_4lyHdQdr98OAojSAH6HacNGgJIyO25l_knKiL-8aKXnpDIQ2l_1S1yY1IznkMvyI3UfluFNN7jwZT-pW8rg6U3HJhKDJGAwJTEASKalPf&sig=AOD64_1qxCNAqx_7h0kY0v88BwfpMczFOg&q&adurl&ved=2ahUKEwjsrLitmpn6AhVhhv0HHbNtAhIQ0Qx6BAgDEAE" target="_blank" class="book-title-link"> 
          <img class="thumbnail" style="width:240px; height:367px" src="@Model.Rows[i]["ImagePath"]"/> 
          </a>
          <div class="book-rating"> @Model.Rows[i]["Rating"] </div>
        </div>

        <div class="book-info-grid">
            
          <div class="book-info">
            <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwizo8Gtmpn6AhUFu9UKHep-AdMYABAAGgJ3cw&ohost=www.google.com&cid=CAESa-D2QpDts-hPtJvDG5WpKXtzyVBLkFxSsVFuxX_4lyHdQdr98OAojSAH6HacNGgJIyO25l_knKiL-8aKXnpDIQ2l_1S1yY1IznkMvyI3UfluFNN7jwZT-pW8rg6U3HJhKDJGAwJTEASKalPf&sig=AOD64_1qxCNAqx_7h0kY0v88BwfpMczFOg&q&adurl&ved=2ahUKEwjsrLitmpn6AhVhhv0HHbNtAhIQ0Qx6BAgDEAE" target="_blank" class="book-title-link"> 
              
              <p class="book-title"> 
                @Model.Rows[i]["BookName"] 
                </p>
            </a>

              <p class="book-author" >
                @Model.Rows[i]["Author"] , @Model.Rows[i]["PrintYear"] 
              </p>

              <p class="book-price">
                @Model.Rows[i]["Price"]  BYN
                </p>
                @if( @Accessor.HttpContext.Session.GetString("RoleId") =="2")
                {                   
                     <form asp-controller="Orders" asp-action="CreateOrder" method="post" asp-route-IdBook=" @Model.Rows[i]["BookID"]">
                        <input type="hidden" asp-for=" @Model.Rows[i]["BookID"]" />
                        <input type="submit" value="Order" class="btn btn-primary" />        
                     </form>
                }
                else if(@Accessor.HttpContext.Session.GetString("RoleId") =="1")
                {
                    <a class="btn btn-outline-primary" asp-action="AddOrEdit" asp-route-id=" @Model.Rows[i]["BookID"] ">Edit</a>              
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Rows[i]["BookID"]">Delete</a>
                }
                else{
                     <a class="btn btn-primary" asp-controller="Accounts" asp-action="Login" asp-route-id=" @Model.Rows[i]["BookID"] ">Order</a>
                }
                
          </div>   
        </div>
      </div>}
    </section>

    

@*
      @for(int i = 0; i < Model.Rows.Count; i++)
           {<tr>
            <td>
                @Model.Rows[i]["BookName"] 
            </td>
            <td>                
                @Model.Rows[i]["Author"] 
            </td>
            <td>               
                @Model.Rows[i]["Price"] 
            </td>
            <td>                
                @Model.Rows[i]["PrintYear"] 
            </td>
            <td>               
                @Model.Rows[i]["Amount"] 
            </td>
            <td>              
                @Model.Rows[i]["ImagePath"] 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id=" @Model.Rows[i]["BookID"] ">Edit</a>              
                <a asp-action="Delete" asp-route-id="@Model.Rows[i]["BookID"]">Delete</a>
            </td>
        </tr>}

    </tbody>
</table>
*@